<% include head.ejs %>
  <% include nav.ejs %>
    <div class="container">
      <div class="jumbotron">
        <div class="container">
          <h1>Compare</h1>
          <p>A simple tool to generate training data for Apache Solr</p>
          <pre># To enable LTR</br>> solr start -Dsolr.ltr.enabled=true</pre>
          <!--<p>
            <a class="btn btn-primary btn-lg">Learn more</a>
          </p>-->
        </div>
      </div>
      <div class="container">
        <div class="form-inline">
          <div class="form-group">
            <label for="url">Solr url : </label>
            <input type="text" class="form-control" id="url" value="http://localhost:8983/solr/corejouve">
          </div>
          <div class="form-group">
            <label for="query">Query : </label>
            <input type="text" class="form-control" id="query" value="skirt">
          </div>
          <div class="form-group">
            <label for="fl">fl : </label>
            <input type="text" class="form-control" id="fl" value="id,name_txt_en,description_txt_en">
          </div>
          <div class="form-group">
            <label for="otherParams">Others : </label>
            <input type="text" class="form-control" id="otherParams" value="&rows=20">
          </div>
          <button id="compare" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Compare</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <table class="table">
            <thead>
              <tr>
                <th>Apache Solr without LTR</th>
                <th>score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>coucou</td>
                <td>1</td>
              </tr>
              <tr>
                <td>coucou</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-6">
          <table class="table">
            <thead>
              <tr>
                <th>Apache Solr with LTR</th>
                <th>score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>salifou</td>
                <td>-9991</td>
              </tr>
              <tr>
                <td>salifou ++</td>
                <td>-9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; 2016-2017 Company GenTrainingData, Inc.</p>
      </footer>
    </div>
    <% include foot.ejs %>