<% include head.ejs %>
<% include nav.ejs %>
    <div class="container">
      <div class="jumbotron">
        <div class="container">
          <h1>GenTrainingDataSolr</h1>
          <p>A simple tool to generate training data for Apache Solr</p>
          <pre># To enable LTR</br>> solr start -Dsolr.ltr.enabled=true</pre>
          <a class="btn btn-primary" href="conf/solrconfig.xml">solrconfig.xml</a>
        </div>
      </div>
      <div class="container">
        <div class="form-inline">
          <div class="form-group">
            <label for="url">Solr url : </label>
            <input type="text" class="form-control" id="url" value="http://localhost:8983/solr/corejouve">
          </div>
          <div class="form-group">
            <label for="query">Query : </label>
            <input type="text" class="form-control" id="query" value="skirt">
          </div>
          <div class="form-group">
            <label for="fl">fl : </label>
            <input type="text" class="form-control" id="fl" value="id,name_txt_en,description_txt_en">
          </div>
          <div class="form-group">
            <label for="otherParams">Others : </label>
            <input type="text" class="form-control" id="otherParams" value="&rows=20">
          </div>
          <button id="search" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
          <a href="/download" role="button" class="btn btn-success"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Generate</a>
        </div>
      </div>
      <table class="table">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
      <hr>
      <footer>
        <p>&copy; 2016-2017 Company GenTrainingData, Inc.</p>
      </footer>
    </div>
<% include foot.ejs %>