<% include head.ejs %>
  <% include nav.ejs %>

    <div class="container">

      <div class="jumbotron">
        <div class="container">
          <h1>GenTrainingDataSolr</h1>
          <p>A simple tool to generate training data for Apache Solr</p>
          <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-1">
            <!--<label class="control-label" for="url">KeyWord(s): </label>-->
            <h5>KeyWord(s):</h5>
          </div>
          <div class="col-xs-3">
            <input class="form-control" id="url" name="url" type="text" value="skirt">
          </div>
          <div class="col-xs-1">
            <h5>fl:</h5>
          </div>
          <div class="col-xs-3">
            <input class="form-control" id="fl" name="fl" type="text" value="name_txt_en,description_txt_en">
          </div>
          <div class="col-xs-4">
            <button id="search" type="button" class="btn btn-primary">Search</button>
            <a href="/download" role="button" class="btn btn-success">GenTrainingData</a> </div>
        </div>
      </div>

      <hr/>
      <table class="table">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
      <hr>

      <footer>
        <p>&copy; 2016-2017 Company GenTrainingData, Inc.</p>
      </footer>
    </div>
    <% include foot.ejs %>